@media screen and (min-width: 650px) {

    body {
        float: left;
    }

    main {
        max-width: 900px;
        min-width: 400px;
        margin: 1rem auto;
        padding: 1px;
    }

    li {
        line-height: 1.4;
    }

    .grid-container {
        display: grid;
        grid-template: 150px / auto auto;
        grid-gap: 5px;
        background-color: #2196F3;
        padding: 5px;
    }

    .grid-item {
        text-align: left;
        height: auto;
    }

    #phototitle {
        position: relative;
        top: 80px;
        background: radial-gradient(#fff, l#2196F3);
        border: 1px solid rgba(0, 0, 0, .75);
        box-shadow: 0 0 3rem #fff;
        opacity: 0.70;
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        font-family: serif;
    }

    .hover:hover {
        box-shadow: 0 0 20px #333;
    }

    footer {
        max-width: 900px;
        margin: 1rem auto;
        border: 2px solid rgb(25, 63, 92);
        padding: 20px;
    }

    footer li {
        line-height: normal;
    }

    section {
        padding: 1px;
        list-style-type: none;
        border: 2px solid rgb(25, 63, 92);
        background-color: white;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        z-index: 10;
        overflow: hidden;
        text-align: left;
    }

    .menu li a {
        display: block;
        text-decoration: none;
        text-align: left;
        padding: 3px;
        position: relative;
        transition: background 0.5s ease-in-out;
    }

    .menu li a:hover {
        background-color: silver;
    }

    .menu li:first-child a {
        color: black;
    }

    .active {
        font-weight: 700;
    }

    li a.menu-item {
        display: none;
    }

    li a.open {
        display: flex;
    }

    .close::before {
        content: "";
    }

    .mode {
        font-size: 2rem;
        cursor: pointer;
        text-align: right;
    }
}