@media only screen and (min-width: 650px) {
    h1 {
        font-size: 2.5rem;
        margin: 1rem;
        color: rgb(25, 63, 92);
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    nav {
        max-width: 640px;
        margin: 1rem auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 1px;
        color: rgb(25, 63, 92);
        background-color: rgb(195, 223, 245);
        border-radius: 25px;
        border: 2px solid rgb(25, 63, 92);
        padding: 20px;
        box-shadow: 5px 5px 5px rgb(146, 166, 180);
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;
    }

    header {
        max-width: 640px;
        margin: 1rem auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: rgb(25, 63, 92);
        padding: 1px;
        background-color: rgb(195, 223, 245);
        border-radius: 25px;
        border: 2px solid rgb(25, 63, 92);
        padding: 20px;
        box-shadow: 5px 5px 5px rgb(146, 166, 180);
    }

    main {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 'myArea myArea .' 'myArea myArea .';
        max-width: 640px;
        margin: 1rem auto;
        padding: 1px;
        color: rgb(25, 63, 92);
        background-color: rgb(195, 223, 245);
        border-radius: 25px;
        border: 2px solid rgb(25, 63, 92);
        padding: 20px;
        box-shadow: 5px 5px 5px rgb(146, 166, 180);
    }

    footer {
        max-width: 640px;
        margin: 1rem auto;
        color: rgb(25, 63, 92);
        background-color: rgb(195, 223, 245);
        border-radius: 25px;
        border: 2px solid rgb(25, 63, 92);
        padding: 20px;
        box-shadow: 5px 5px 5px rgb(146, 166, 180);
    }

    section {
        background-color: white;
        padding: 2px;
        border-radius: 25px;
        border: 2px solid rgb(25, 63, 92);
        padding: 10px;
        list-style-type: none;
    }

    #darkness1 {
        background-color: white;
    }

    #darkness2 {
        background-color: white;
    }

    #main {
        grid-area: myArea;
    }

    ul {
        list-style-type: none;
        overflow: hidden;
    }


    li.nav {
        float: left;
    }

    li.nav a {
        display: block;
        color: rgb(25, 63, 92);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li.nav a:hover {
        background-color: #111;
    }
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    text-align: left;
}

.menu li a {
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    position: relative;
    transition: background 0.5s ease-in-out;
}

.menu li a:hover {
    background-color: wheat;
}

.menu li:first-child a {
    background-color: rgb(195, 223, 245);
    color: rgb(25, 63, 92);
}

.active {
    font-weight: 700;
}

li a.menu-item {
    display: none;
}

li a.open {
    display: flex;
}

.close::before {
    content: "❌ ";
}

.mode {
    font-size: 2rem;
    cursor: pointer;
    text-align: right;
}